In [1]:
import functions as f
import pandas as pd
import locale
locale.setlocale(locale.LC_TIME, 'pt_BR.utf8')

'pt_BR.utf8'

In [2]:
df = f.leTab("Planilha_aimores.csv")
df

             Data    Tx    Tn  Tmed     UR Prec Evap  Eto Insolação
0      01/01/1976  32.0  20.0  25.7   69.5  0.0  4.3  NaN       8.2
1      02/01/1976  31.0  20.0  25.6  73.75  0.0  3.3  NaN       9.7
2      03/01/1976  32.0  22.0  26.4   72.5  0.0  3.1  NaN       7.9
3      04/01/1976  32.0  21.0  26.6  63.25  0.0  3.3  NaN       9.3
4      05/01/1976  33.0  20.0  26.2  69.25  0.0  3.6  NaN      11.1
...           ...   ...   ...   ...    ...  ...  ...  ...       ...
17162  27/12/2022   NaN   NaN   NaN    NaN  NaN  NaN  NaN       NaN
17163  28/12/2022   NaN   NaN   NaN    NaN  NaN  NaN  NaN       NaN
17164  29/12/2022   NaN   NaN   NaN    NaN  NaN  NaN  NaN       NaN
17165  30/12/2022   NaN   NaN   NaN    NaN  NaN  NaN  NaN       NaN
17166  31/12/2022   NaN   NaN   NaN    NaN  NaN  NaN  NaN       NaN

[17167 rows x 9 columns]

Definição do Período a ser Analisado:

In [3]:
#Seleciona e retorna um intervalo de df
dataInicial = '04/01/1976'
dataFinal = '04/08/1976'
intervalo = f.dataTab(df,dataInicial,dataFinal)

#Seleciona e retorna um df do mes selecionado
mes = '03'
intervaloMes = f.dataMes(df,mes)
intervaloMes

#Seleciona e retorna um df do ano selecionado
ano = '2013'
intervaloAno = f.dataAno(df,ano)
intervaloAno

            Data    Tx    Tn   Tmed    UR Prec Evap  Eto Insolação Mês   Ano
13515 2013-01-01   NaN   NaN    NaN   NaN  NaN  NaN  NaN       NaN  01  2013
13516 2013-01-02   NaN   NaN    NaN   NaN  NaN  NaN  NaN       NaN  01  2013
13517 2013-01-03   NaN   NaN    NaN   NaN  NaN  NaN  NaN       NaN  01  2013
13518 2013-01-04   NaN   NaN    NaN   NaN  NaN  NaN  NaN       NaN  01  2013
13519 2013-01-05   NaN   NaN    NaN   NaN  NaN  NaN  NaN       NaN  01  2013
...          ...   ...   ...    ...   ...  ...  ...  ...       ...  ..   ...
13875 2013-12-27  34.0  23.4  28.88  76.0  0.0  2.4  NaN      10.1  12  2013
13876 2013-12-28  35.2  23.0  29.04  76.0  0.0  2.6  NaN      11.0  12  2013
13877 2013-12-29  34.5  24.0   29.5  67.0  0.0  3.0  NaN       9.8  12  2013
13878 2013-12-30  35.2  23.6  29.16  74.0  0.0  3.0  NaN      11.4  12  2013
13879 2013-12-31  36.5  24.0   30.3   NaN  0.0  4.0  NaN      11.5  12  2013

[365 rows x 11 columns]

Media das temperaturas (Tx,Tn,Tmed,UR,Prec,Evap,Insolação)

In [4]:
#Seleciona e retorna a media de um intervalo especifico
intervaloMedia = f.media_especifica(intervalo)
intervaloMedia

          Tx         Tn       Tmed         UR  Prec      Evap  Insolação
0  31.943458  19.050467  25.059065  67.117991   2.0  3.569159   8.243925

In [5]:
#Seleciona e retorna a media dos meses de determinado ano
intervaloMesAno = f.media_meses_ano(intervaloAno)
intervaloMesAno

,Tx,Tn,Tmed,UR,Prec,Evap,Insolação,Mês
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01
0,35.096154,23.107692,28.090000,67.634615,4.185714,3.464286,9.350000,02
0,33.774074,23.207407,27.187407,75.555556,4.309677,2.709677,6.641935,03
0,31.048000,20.540000,24.813600,75.640000,1.973333,2.246667,6.453333,04
0,29.974074,18.707407,23.278519,80.083333,1.264516,2.387097,6.016129,05
0,29.703846,17.723077,22.560769,85.961538,0.920000,1.866667,6.043333,06
0,29.807692,17.492308,22.264615,80.230769,0.077419,2.416129,6.419355,07
0,30.911111,17.018519,22.812593,75.000000,0.232258,3.212903,7.674194,08
0,31.484615,18.946154,24.023077,77.346154,1.026667,3.496667,6.806667,09
0,30.792308,19.980769,24.423846,79.307692,3.954839,2.793548,5.374194,10
0,31.788462,21.111538,25.807692,77.576923,5.706667,2.870000,6.320000,11
0,31.744828,22.772414,26.453793,84.400000,26.529032,2.032258,5.677419,12

In [6]:
#Seleciona e retorna a media de todos os anos
intervaloMesAno = f.media_anos(df)
intervaloMesAno

,Tx,Tn,Tmed,UR,Prec,Evap,Insolação,Ano
0,31.201093,19.408743,24.814208,70.342896,4.515847,3.358743,7.185519,1976
0,31.222192,18.500548,24.589534,74.210274,3.306027,3.535890,7.003562,1977
0,30.394521,18.053973,24.029260,77.768493,3.451507,2.877198,6.212637,1978
0,30.802857,19.255114,24.194091,69.895749,3.727429,2.827273,5.781481,1979
0,31.011019,19.736066,24.235666,73.327186,3.109836,3.244892,6.471858,1980
0,30.079834,19.400000,23.822024,76.688356,3.637808,3.010714,5.901918,1981
0,30.878022,19.716712,24.286378,78.096685,2.223014,3.312693,6.145753,1982
0,31.038674,20.251781,24.056589,84.526353,3.248767,2.831783,6.084384,1983
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1984
0,31.136915,19.482143,23.415116,78.436639,3.359066,3.201163,6.792287,1985
0,32.180548,20.443288,25.432384,73.486951,1.618630,4.374247,7.720879,1986
0,32.100275,20.751099,25.367857,76.779533,2.460440,3.676099,6.722527,1987
0,31.300273,20.046995,24.504261,70.801913,2.550546,3.520397,6.670765,1988
0,31.366301,20.070685,24.707781,73.470548,2.202740,3.738904,6.607945,1989
0,32.172877,20.886575,25.504274,71.747260,1.852055,4.104658,7.521370,1990
0,30.511507,20.106301,24.292055,76.232192,2.937260,3.122740,6.130685,1991
0,30.395628,20.345355,24.429399,76.512329,3.403552,3.044262,5.691257,1992
0,32.336164,20.577808,25.424110,70.975616,2.025753,3.924176,7.430959,1993
0,31.791781,20.556164,25.213753,72.166209,2.182466,3.763562,7.128571,1994
0,32.055890,20.838082,25.587342,74.971233,2.961918,3.578904,7.140385,1995
0,31.816393,20.283607,25.037923,69.956284,2.362568,3.587158,7.138525,1996
0,31.891989,19.936464,24.720722,72.917127,2.938398,3.428134,7.289863,1997
0,32.742466,21.097534,25.941160,72.285616,2.148493,3.652486,6.926849,1998
0,32.201918,20.142466,25.268986,67.917123,2.284384,3.510411,7.003014,1999
0,31.832240,20.408197,25.069399,75.975410,2.296721,3.060109,6.782240,2000
0,32.247671,20.492055,25.383342,73.184247,2.489315,3.246575,7.054247,2001
0,32.210959,20.498904,25.281041,75.049315,3.109615,3.106667,6.940000,2002
0,32.676712,20.118630,25.369041,69.697260,2.414521,3.329041,7.250411,2003
0,31.100273,19.768306,24.607923,73.571721,3.430601,2.677049,6.369126,2004
0,31.470959,20.227945,24.900822,75.403159,3.588219,2.790659,6.127747,2005
0,31.381370,19.944231,24.706593,72.526099,2.990685,3.053846,6.293425,2006
0,32.876099,20.098352,25.360275,70.212810,1.445753,3.655342,7.317808,2007
0,32.712842,21.540339,26.142644,71.373634,2.240437,3.663115,6.772603,2008
0,32.558082,20.927671,25.625096,73.863699,2.635890,3.311781,7.035174,2009
0,32.540274,20.513973,25.438132,72.666209,2.857808,3.400274,6.997260,2010
0,31.491781,19.762363,24.543132,74.260989,2.598630,2.725344,6.551507,2011
0,32.562534,20.520661,25.429256,70.984765,2.135440,3.203343,7.180548,2012
0,31.471134,20.077320,24.716289,78.040941,4.591018,2.675150,6.594012,2013
0,32.651493,20.522222,25.394328,79.977612,1.070440,2.898742,7.066667,2014
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022